.body_style {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    margin: 0;
    padding: 0;
    font-size: 3vmin;
}

header, footer {
    background-color: rgb(198, 217, 241);
}

main {
    flex-grow: 1;
    background-color: green;
    display: flex;
    flex: 100%;
}


header>p{
	font-size: 2.25vmin;
	text-align: right;
}

.left-center{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 32px;
}
.left-center > h3{
	background-color: white;
	min-width: 150px;
	padding: 5px;
	margin-right: 16px;
}


.section235 {
	display: flex;
	flex-direction: column;
	flex: 75%;
	max-width: 75%;
	background-color: yellow;
}
.section23 {
	flex: 1;
	flex: 100%;
	display: flex;
}
.section2 {
	flex: 42%;
	background-color: rgb(253, 233, 217);
}
.section3 {
	flex: 58%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.controls {
	flex: 1;
	border: 1px solid blue;
}
.anim {
    width: calc(100% - 10px);
    height: calc(100% - 50px);
    border: 5px solid orange;
}
.section5 {
	flex: 0;
	width: 100%;
	background-color: rgb(234, 241, 221);
}
.section5>p {
	margin: 1px 1px 1px 32px;
}

.section4 {
	padding-left: 10px;
	flex: 25%;
	max-width: 25%;
    background-color: rgb(253, 233, 217);
}
.item-right {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 32px;
    box-sizing: border-box;
}
.section4>p{
	text-align: right;
}

#x {
	text-align: right;
}

.border {
	outline: 1px solid black;
}
.links-list>li>a:hover {
        color: red;
}

@media screen and (max-width: 800px) {
	.section235, .section4 {
		flex: 100%;
		max-width: 100%;
	}
	main {
		flex-direction: column;
	}
}